@{
    Layout = "_Layout";
}

<h2>Form Registrasi</h2>

<form method="POST" action="/Dokter/Tampil">
    <div class="form-group">
        <label for="FirstName">First Name :</label>
        <input type="text" class="form-control" name="FirstName" />
    </div>
    <div class="form-group">
        <label for="LastName">Last Name :</label>
        <input type="text" class="form-control" name="LastName" />
    </div>
    <button class="btn btn-primary">Submit</button>
</form>