@{
    Layout = "_Layout";

    /*string nama = "Erick Kurniawan";
    int bil1 = 13;
    int bil2 = 20;
    int hasil = bil1+bil2;*/
}

<h2>Registrasi Berhasil</h2>

<p>Nama : @Model.FirstName @Model.LastName </p>
<p>Alamat : @Model.Address</p>
<p>Telp : @Model.Telp</p>




